.fullyimg {
  background-image: url("../../images/bg-showcase-1.jpg");
  background-size: cover;
  background-position: center;
  order: 2;
}

.updatedimg {
  background-image: url("../../images/bg-showcase-2.jpg");
  background-size: cover;
  background-position: center;
}

.customimg {
  background-image: url("../../images/bg-showcase-3.jpg");
  background-size: cover;
  background-position: center;
  order: 2;
}

.Mar {
  background-image: url("../../images/testimonials-1.jpg");
  background-position: center;
  background-size: cover;
}
.Fre {
  background-image: url("../../images/testimonials-2.jpg");
  background-position: center;
  background-size: cover;
}
.Ser {
  background-image: url("../../images/testimonials-3.jpg");
  background-position: center;
  background-size: cover;
}