.footer {
  margin: 3rem 10%;
  @include flex-center;
  justify-content: space-between;

  ul li+li:before {
    content: " • ";
  }

  li {
    display: inline;

    a {       
      text-decoration: none;
      color: $primary; 
    }
  }

}