.talking {
  text-align: center;
  background-color: $secondary;
  padding: 5rem 0;

  .text {
    padding-bottom: 3rem;
  }

  .people {
    @include flex-center;
    justify-content: space-around;

    .person {
      @include flex-center;
      flex-wrap: wrap;
      flex-direction: column;
      width: 350px;
      
      h2 {
        padding: 1rem 0;
      }

      .img {
        height: 200px;
        width: 200px;
        border-radius: 90%;
      }
    }
  }
}